PORT=4000
FRONTEND_URL=http://localhost:5173
MANGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret_here

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_here
SMTP_FROM=your_email@gmail.com

ADMIN_NOTIFICATION_EMAIL=admin@example.com
